.App {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: #231f20;
  color: white;
}

.nav-links {
  width: 40%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}

a {
  color: white;
  text-decoration: underline;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 15vh;
  background: #231f20;
  color: white;
}

body {
  padding: 0;
  margin: 0;
  background-size: cover;
  }
  
  .container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .title{
    text-align: center;
  }

  .Search{
    text-align: center;
  }

  .Graph{
    margin-left: 200px;
    }

  @media only screen and (max-width: 770px) {
    .container {
      margin: 0 10%;
    }
  }